# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
.env

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Test / coverage
.tox/
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Logs
*.log
